.benefits {
    padding-top: 40px;
    padding-bottom: 330px;
    position: relative;
}

.benefits__back-one {
    position: absolute;
    right: 0;
    top: 360px;
    z-index: 1;
}

.benefits__back-two {
    position: absolute;
    right: 0;
    top: 50px;
}

.benefits__back-three {
    position: absolute;
    left: 0;
    top: 555px;
    z-index: 1;
}

.benefits__back-four {
    position: absolute;
    left: 0;
    top: 530px;
}

.benefits__back-five {
    position: absolute;
    right: 0;
    bottom: 550px;
    z-index: 1;
}

.benefits__back-six {
    position: absolute;
    right: 0;
    bottom: 330px;
}

.benefits__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.benefits__item-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits__info {
    max-width: 445px;
}

.benefits__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    margin-bottom: 24px;
    color: #495567;
}

.benefits__text {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    color: #939CAA;
}

.benefits__btn {
    @extend .header__btn;
    margin: 0;
}

.benefits__img {
    width: 445px;
    border-radius: 50%;
}

.benefits__item-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits__item-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:992px) {
    .benefits {
        padding-top: 140px;
        padding-bottom: 100px;
    }

    .benefits__back-one {
        top: 430px;
    }

    .benefits__back-two {
        top: 150px;
    }

    .benefits__back-three {
        top: 1090px;
    }

    .benefits__back-four {
        top: 1090px;
    }

    .benefits__back-five {
        bottom: 680px;
    }

    .benefits__back-six {
        bottom: 450px;
    }

    .benefits__list {
        row-gap: 130px;
    }

    .benefits__item-one {
        flex-direction: column-reverse;

    }

    .benefits__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 573px;
    }

    .benefits__subtitle {
        text-align: center;
        margin-bottom: 40px;
        max-width: 457px;
    }

    .benefits__text {
        text-align: center;
    }

    .benefits__img {
        margin-bottom: 56px;
    }

    .benefits__item-two {
        flex-direction: column;
    }

    .benefits__item-three {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:720px) {

    .benefits {
        padding-bottom: 120px;
    }

    .benefits__back-one {
        width: 350px;
        top: 380px;
    }

    .benefits__back-two {
        display: none;
    }

    .benefits__back-three {
        width: 260px;
        top: 910px;
    }

    .benefits__back-four {
        display: none;
    }

    .benefits__back-five {
        width: 260px;
        bottom: 650px;
    }

    .benefits__back-six {
        display: none;
    }

    .benefits__list {
        row-gap: 120px;
    }

    .benefits__img {
        width: 311px;
    }

    .benefits__subtitle {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .benefits__text {
        margin-bottom: 32px;
    }
}