.hero {
    background: url(/img/back.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    padding-top: 60px;
    margin-top: 80px;
}

.hero__body {
    padding-top: 150px;
    position: relative;
    padding-bottom: 150px;

    &::before {
        content: "";
        position: absolute;
        width: 460px;
        height: 150px;
        background-image: url(/img/Group1.png);
        background-repeat: no-repeat;
        left: 540px;
        top: 345px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 210px;
        height: 30px;
        background: url(/img/Path2.png);
        background-repeat: no-repeat;
        left: -165px;
        top: 345px;
        z-index: 1;
    }
}

.hero__title {
    max-width: 500px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.hero__text {
    max-width: 405px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    color: #FFFFFF;
    margin-left: 95px;
}

.hero__btn {
    padding: 15px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background: #FCB72B;
    color: #FFFFFF;
    margin-left: 95px;
    border: 3px solid #FCB72B;

    &:hover {
        background: url(/img/back.png);
        border: 3px solid #FCB72B;
        color: #FCB72B;
    }

    &:active {
        opacity: 0.7;
        background: #FCB72B;
        color: #FFFFFF;
    }
}

@media screen and (max-width:992px) {
    .hero__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 115px;

        &::before {
            right: inherit;
            top: inherit;
            left: -170px;
            bottom: 30px;
        }

        &::after {
            display: none;
        }
    }

    .hero__title {
        text-align: center;
        margin-bottom: 24px;
    }

    .hero__text {
        margin: 0;
        text-align: center;
        padding-bottom: 32px;
        max-width: 573px;
    }

    .hero__btn {
        margin-left: 0;
        margin-bottom: 200px;
    }
}

@media screen and (max-width:720px) {
    .hero {
        margin-top: 60px;
        background: url(/img/Bitmap2\(1\).png);
    }

    .hero__body {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 40px;
    }

    .hero__body::before {
        left: -350px;
        bottom: 40px;
    }

    .hero__btn {
        margin-bottom: 110px;
    }
}