.sign {
    background: #495567;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 990px;
        height: 150px;
        bottom: 0;
        right: 0;
        background: url(/img/Group22.png);
        background-repeat: no-repeat;
    }
}

.sign__body {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign__title {
    max-width: 415px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}

.sign__img--box {
    display: flex;
    column-gap: 20px;
}


@media screen and (max-width:992px) {

    .sign__body {
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
    }

    .sign__title {
        text-align: center;
    }

    .sign__img {
        height: 40px;
    }
}

@media screen and (max-width:720px) {
    .sign__title {
        font-size: 32px;
        line-height: 32px;
    }
}